<!doctype html>
<html lang="{{ site.Language.Locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
  {{ with resources.Get "media/icon.png" }}
    {{ $icon := .Fill "64x64 Center png" }}
    <link rel="icon" href="{{ $icon.RelPermalink }}" type="image/png">
  {{ end }}
  {{ with resources.Get "css/main.css" }}
    {{ $css := . | minify | fingerprint }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{ partial "baidu-analytics.html" . }}
</head>
{{ $bodyClasses := slice }}
{{ if .IsHome }}
  {{ $bodyClasses = $bodyClasses | append "is-home" }}
{{ end }}
{{ if not .IsHome }}
  {{ $bodyClasses = $bodyClasses | append "is-research" }}
{{ end }}
<body{{ with $bodyClasses }} class="{{ delimit . " " }}"{{ end }}>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ with resources.Get "js/vendor/sky.js" }}
    {{ $sky := . | minify | fingerprint }}
    <script src="{{ $sky.RelPermalink }}" integrity="{{ $sky.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
  {{ with resources.Get "js/home-stars.js" }}
    {{ $stars := . | minify | fingerprint }}
    <script src="{{ $stars.RelPermalink }}" integrity="{{ $stars.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
  {{ if .IsHome }}
    {{ with resources.Get "js/home-slides.js" }}
      {{ $slides := . | minify | fingerprint }}
      <script src="{{ $slides.RelPermalink }}" integrity="{{ $slides.Data.Integrity }}" crossorigin="anonymous" defer></script>
    {{ end }}
  {{ end }}
  {{ with resources.Get "js/site-nav.js" }}
    {{ $nav := . | minify | fingerprint }}
    <script src="{{ $nav.RelPermalink }}" integrity="{{ $nav.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
  {{ with resources.Get "js/page-transition.js" }}
    {{ $js := . | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
</body>
</html>
