<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?4b8588103558b456f19413de4c0049a7";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-H7GZZBVDK3"
></script>
<script>
  function gtag() {
    dataLayer.push(arguments);
  }
  ((window.dataLayer = window.dataLayer || []),
    gtag("js", new Date()),
    gtag("config", "G-H7GZZBVDK3"));
</script>
